* {
box-sizing: border-box;
font-family: sans-serif;
}
.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(0,34,68,0.8), rgba(0,34,68,0.8)),url('../assets/pic1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_div
{
    display: flex;
    justify-content: space-between;
}
nav .logo_left {
    padding-top: 2rem;
    font-size: 1rem;
    color: white;
    margin-left: 30px;
}
nav .logo_left .logo_com{
     margin-left: 5px;
     padding: 5px;
     border-radius: 0.45rem;
     background-color: #FB4F14;
}
nav .logo_right
{
    padding-top: 1.8rem;
    display: flex;
    font-size: 1rem;
    color: white;
    margin-right: 50px;
}
nav .logo_right .Candidate_login_btn
{
    padding: 10px;
    border-radius: 0.45rem;
    background-color: #FB4F14;
    margin-right: 0.5rem;
}
nav .logo_right .Recruiter_login_btn
{
    padding: 10px;
    border-radius: 0.45rem;
    background-color: #002244;
}
label > a{
    text-decoration:none;
    color:white;
}
label > a :hover{
    text-decoration:none;
    color:white;
}
.searchBox {
    position: absolute;
    top: calc(50% - 30px);
    left: 10%;
    height: 60px;
    width: 80%;
}

.searchBox .inner {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
}

.searchBox input
{
     border: 2px solid red;
    padding-left: 1rem;
    border-right: 1px solid black;
    font-size: 1rem;
    width: 50%;
    height: 60px;
    border-right: 1px solid gray;
    border: 0;
}

.searchBox input:focus {
    outline: none;

}

.searchBox button {
    padding: 5px;
    border: none;
    background-color: #fff;
}

.searchBox button > i{
    width: 50px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FB4F14;
    color: white;
    font-size: 14px;
}
.copy-right{
color:white;
 position: absolute;
    bottom: 0;
    padding:10px;
    height: 50px;
    width: 100%;
    text-align:center;
}
/*          login           */

.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 4px solid transparent;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.box>h2 {
    font-family: Poppins-Medium, sans-serif;
    padding: 15px 20px;
    font-size: 24px;
}

.box.box-primary {
    border-top-color:#2A2A2A;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.bozero {
    border-top: 0 !important;
}
.form-group .req {
    color: #fc2d42;
}

.box-header {
    color: #444;
    display: block;
    padding: 15px 10px 10px 15px;
    font-family: Poppins-Regular, sans-serif;
    position: relative;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header h3.box-title i {
    display: none;
}

.box-header h3.box-title {
    font-size: 18px;
    font-family: Poppins-SemiBold, sans-serif;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}



.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8;
}

.profile-button {
  background: #BA68C8;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8;
}





