<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <script
            type="text/javascript"
            th:src="@{/js/vendor/jquery-1.12.4.min.js}"
    ></script>


    <script
            type="text/javascript"
            src="../static/js/main.js"
            th:src="@{/js/main.js}"
    ></script>
    <script
            type="text/javascript"
            src="/webjars/jquery/3.4.1/jquery.min.js"
    ></script>
    <script
            type="text/javascript"
            src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>

    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            href="/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            href="/css/font-awesome.min.css"
            th:href="@{/css/font-awesome.min.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            href="/css/style.css"
            th:href="@{/css/style.css}"
    />

    <meta charset="ISO-8859-1">
    <title>Profile Setup</title>
</head>

<body>

<!-- header-start -->
<header>
    <div class="header-area">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">home</a></li>
                                        <li><a href="jobs.html">Browse Job</a></li>
                                        <li>
                                            <a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="candidate.html">Candidates </a></li>
                                                <li><a href="job_details.html">job details </a></li>
                                                <li><a href="elements.html">elements</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="phone_num d-none d-xl-block">
                                    <a href="#">Log in</a>
                                </div>
                                <div class="d-none d-lg-block">
                                    <a class="boxed-btn3" href="#">Post a Job</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Post New Job</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <form id="job-main-form" method="get" action="#" class="job-add-form">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Job details</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="title">Job Title</label>
                            <input id="title" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="text">Job Description</label>
                            <textarea id="text" rows="5" class="form-control"></textarea>
                             </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label for="location">Location</label>
                            <input id="location" type="text" placeholder="e.g. Rio de Janeiro" class="form-control">
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="type">Type</label>
                            <select id="type"  class="form-control">
                                <option>Full-time</option>
                                <option>Part-time</option>
                                <option>Internship</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="category">Category</label>
                            <select id="category" class="form-control">
                                <option>Web design  </option>
                                <option>Human Resources</option>
                                <option>Support</option>
                                <option>Logistics</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 form-group">
                            <label for="post_type">Type of the post</label>
                            <select id="post_type" data-placeholder="Choose type of the post" class="form-control select2">
                                <option>Featured ($100) </option>
                                <option>Standard ($30)</option>
                            </select>
                        </div>
                        <div class="col-xl-4 form-group">
                            <label for="apply_url">Apply URL <span class="note">(users will apply on your website)</span></label>
                            <input id="apply_url" type="url" class="form-control">
                        </div>
                        <div class="col-xl-4 form-group">
                            <label for="validity">Validity of the post</label>
                            <input id="validity" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr class="margin-bottom--big">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Company details</h4>
                         <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="company_name">Company name</label>
                            <input id="company_name" type="text" class="form-control">
                             </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="company_description">Company Description</label>
                            <textarea id="company_description" rows="3" class="form-control"></textarea>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <label for="company_website">Website</label>
                            <input id="company_website" type="url" class="form-control">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="company_logo">Logo</label>
                            <input id="company_logo" type="file" class="form-control">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="company_twitter">Twitter</label>
                            <input id="company_twitter" placeholder="@getbootstrap" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr>
                            <div class="checkbox text-center">
                                <label>
                                    <input type="checkbox"> I agree with the <a href="#">Terms and conditions</a>.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <hr>
                            <button type="submit" class="btn btn-outline-white-primary"> <i class="fa fa-magic"></i> Save and publish</button>
                            <button type="submit" class="btn btn-outline-white-secondary"> <i class="fa fa-save"></i> Save draft</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="footer mt-5">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                        <p>
                            finloan@support.com <br>
                            +10 873 672 6782 <br>
                            600/D, Green road, NewYork
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                        <h3 class="footer_title">
                            Company
                        </h3>
                        <ul>
                            <li><a href="#">About </a></li>
                            <li><a href="#"> Pricing</a></li>
                            <li><a href="#">Carrier Tips</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                        <h3 class="footer_title">
                            Category
                        </h3>
                        <ul>
                            <li><a href="#">Design & Art</a></li>
                            <li><a href="#">Engineering</a></li>
                            <li><a href="#">Sales & Marketing</a></li>
                            <li><a href="#">Finance</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                        <h3 class="footer_title">
                            Subscribe
                        </h3>
                        <form action="#" class="newsletter_form">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit">Subscribe</button>
                        </form>
                        <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems
                            luckily.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>