<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document Test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div>
        <h1>
            Document Manager
        </h1>
    </div>

    <form th:action="@{/document/upload}" method="post" enctype="multipart/form-data">
        <div>
            <h2>
               Upload your files here:
            </h2>
            <p>
               <input type="file" name="document" required>
            </p>
            <p>
                <input type="submit" value="Upload" class="btn btn-primary">
            </p>
        </div>
    </form>
</body>
</html>