<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" >
<link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" th:href="@{/css/styles.css}" />
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
<meta charset="ISO-8859-1">
<title>Candidate Profile</title>
</head>

<body>

<section class="content">
    <div class="row">

        <div class="offset-md-2 col-md-8">

            <div class="box ">

                <div class="box-header ">

                    <h2 class="mb-2">Candidate Profile</h2>

                    <form th:action="@{/job-seeker-profile/save}" th:object="${profile}" method="post">
                        <div class="box-body bozero mx2p">
                            <h4 >Basic Info</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>First Name</label> <small class="req"> *</small>
                                        <input name="first_name" field="{first_name}" type="text" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Last Name</label> <small class="req"> *</small>
                                        <input name="last_name" field="*{last_name}" type="text" class="form-control" required/>
                                    </div>
                                </div>

                            </div>
                            <div class='row'>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input name="city" field="{city}" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>State</label> <small class="req"> *</small>
                                        <input name="state" field="{state}"  class="form-control" required  />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input name="country" field="{country}"  type="text" class="form-control"  />
                                    </div>
                                </div>
                            </div>
                            <h4 class="mt-2">Work Classification</h4>
                            <div class="row">
                                <div class='col-md-4'>
                                    <div class="form-group">
                                        <label>Work Authorization</label> <small class="req"> *</small>
                                        <select required class="form-control" name="FacultyDepartment">
                                            <option value="">Select</option>
                                            <option value={x.Department}>{x.Department}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='col-md-4'>
                                    <div class="form-group">
                                        <label >Seeking Employment</label> <small class="req"> *</small>
                                        <select required class="form-control" name="FacultyRank">
                                            <option value="">Select</option>
                                            <option value="Professor">Professor</option>
                                            <option value="Associate Professor">Associate Professor</option>
                                            <option value="Assistant Professor">Assistant Professor</option>
                                            <option value="Instructor">Instructor</option>
                                            <option value="Visiting">Visiting</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <h4 class="mt-2">Skills</h4>
                            <div class="row">
                                <div class='col-md-4'>
                                    <div class="form-group">
                                        <label>Skill Name</label>
                                   <!--     <input name="skill-name" type="text" class="form-control"/>-->
                                        <select required class="form-control" field="{skill_set_name}">
                                          <th:block th:each="skill :${allSkills}">
                                              <option th:text="${skill.skill_set_name}" th:value="${skill.Id}"></option>
                                          </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Years of Experience</label>
                                        <input name="experience" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class="form-group">
                                        <label>Experience Level</label> <small class="req"> *</small>
                                        <select required class="form-control" name="FacultyDepartment">
                                            <option value="">Select</option>
                                            <option value={x.Department}>{x.Department}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h4 class="mt-2">Resume</h4>
                                        <input name="State" type="file" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h4 class="mt-2">Profile Photo</h4>
                                        <input name="PostalCode" type="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>