<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <title>Candidate Dashboard</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" />

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
  </head>

  <body>
    <!-- header-start -->
    <header>
      <div class="header-area">
        <div id="sticky-header" class="main-header-area">
          <div class="container-fluid">
            <div class="header_bottom_border">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-2">
                  <div class="logo_left">
                      <label><a href="/">hotdevjobs</a><span class="logo_com"> .com</span></label>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                  <div class="main-menu d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="/">home</a></li>
                        <li><a href="/add-jobs/">Post New job</a></li>
                        <li><a href="/add-post/">View Your Jobs</a></li>
                        <li><a href="/recruiter-profile/">Edit Account</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                  <div class="Appointment">
                    <div class="d-none d-lg-block">
                      <a class="boxed-btn3" href="#">Logout</a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="bradcam_text">
              <h3>Jobs Listing</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="job_filter white-bg">
              <div class="form_inner white-bg">
                <strong>Filter</strong>
                <hr>
                <form action="#">

                  <div class="row">

                    <div class="col-lg-12">
                      <strong>Employment Type</strong>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="part-time">
                        <label class="form-check-label" for="part-time">
                          Part-Time
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="full-time" >
                        <label class="form-check-label" for="full-time">
                          Full-Time
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="freelance" >
                        <label class="form-check-label" for="freelance">
                          Freelance
                        </label>
                      </div>
                    </div>

                    <div class="col-lg-12 mt-5">
                      <strong>Remote</strong>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="remote-only">
                        <label class="form-check-label" for="remote-only">
                          Remote-Only
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Office-Only" >
                        <label class="form-check-label" for="Office-Only">
                          Office-Only
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="partial-remote">
                        <label class="form-check-label" for="partial-remote">
                          Partial-Remote
                        </label>
                      </div>
                    </div>

                    <div class="col-lg-12 mt-5 mb-5 ">
                      <strong>Date Posted</strong>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="today">
                        <label class="form-check-label" for="today">
                          Today
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="7days" >
                        <label class="form-check-label" for="7days">
                          Last 7 Days
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="30days">
                        <label class="form-check-label" for="30days">
                          Last 30 Days
                        </label>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
              <div class="reset_btn">
                <button class="boxed-btn3 w-100" type="submit">Reset</button>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="recent_joblist_wrap">
              <div class="recent_joblist white-bg">
                <div class="row align-items-center">
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Search keyword" />
                  </div>
                  <div class="col-md-3">
                    <button class="boxed-btn3 " type="submit">Search</button>
                  </div>
                </div>
              </div>
            </div>

            <th:block th:each="jobPost:${jobPost}">
              <div class="job_lists m-0">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div
                      class="single_jobs white-bg d-flex justify-content-between"
                    >
                      <div class="jobs_left d-flex align-items-center">
                        <div class="thumb">

                          <img height="50px" width="50px" th:src="@{${jobPost.job_company_id.photosImagePath}}" >
                        </div>
                        <div class="jobs_content">
                          <a th:href="@{/job-details-apply/{id}(id=${jobPost.Id})}"
                            ><h4 th:text="${jobPost.job_title}">
                              Software Engineer
                            </h4></a
                          >
                          <div class="align-items-center">
                            <div>
                              <p style="margin-bottom:0px;"
                                th:text="${jobPost.job_location_id.city+', '+ jobPost.job_location_id.state}"
                              >California, USA
                              </p>
                              <p style="margin : 0;padding-top:0;" th:text="${jobPost.job_type}">Part-time
                              </p>
                            </div>


                          </div>
                        </div>
                      </div>
                      <div class="jobs_right">
                        <div class="apply_now">
                          <a  th:href="@{/job-details-apply/{id}(id=${jobPost.Id})}" class="boxed-btn3"
                            >Apply Now</a
                          >
                        </div>
                        <div class="date">
                          <p th:text="${jobPost.posted_date}">
                            Date line: 31 Jan 2020
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <script>
      $(function () {
        $("#slider-range").slider({
          range: true,
          min: 0,
          max: 24600,
          values: [750, 24600],
          slide: function (event, ui) {
            $("#amount").val(
              "$" + ui.values[0] + " - $" + ui.values[1] + "/ Year"
            );
          },
        });
        $("#amount").val(
          "$" +
            $("#slider-range").slider("values", 0) +
            " - $" +
            $("#slider-range").slider("values", 1) +
            "/ Year"
        );
      });
    </script>
  </body>
</html>
