<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
    <meta charset="ISO-8859-1">
    <title>Login</title>
</head>

<body class="background">

<nav class="main_div">
    <div class="logo_left">
        <label class="logo">
            hotdevjobs
        </label>
        <label class = "logo_com">
            .com
        </label>
    </div>
</nav>


<div class="login-form">
    <form th:action="@{/login}" th:object="${user}" method="post">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input placeholder="Email" name="username" field="{email}" type="email" class="form-control" required />
        </div>
        <div class="form-group">
            <input placeholder="Password" name="password" field="{password}" type="password" class="form-control" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div>
    </form>
    <p class="text-center">Are you a new User? <a th:href="@{|/register?role=${role}|}"> Create an Account</a></p>
</div>
</body>
</html>