<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login HotDev Jobs</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <nav class="main_div">
        <div class="logo_left">
            <label class="logo">
                hotdevjobs
            </label>
            <label class = "logo_com">
                .com
            </label>
        </div>
        <div class="logo_right">
                <label class="Candidate_login_btn">
                    Job Candidate Login/Register
                </label>
                <label class="Recruiter_login_btn">
                    Recruiter Login/Register
                </label>
        </div>
    </nav>

    <div class="searchBox">
        <div class="inner">
            <input type="text" name="jobSearch" placeholder="Search for a job">
            <input type="text" name="locSearch" placeholder="Enter a location">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</body>
</html>
