<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"  th:src="@{/main.js}"></script>
    <meta charset="ISO-8859-1">
    <title>Profile Setup</title>
</head>

<body class="background">

<nav class="main_div">
    <div class="logo_left">
        <label class="logo">
            hotdevjobs
        </label>
        <label class = "logo_com">
            .com
        </label>
    </div>
</nav>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" src="#" width="90">
                    <span class="font-weight-bold">John Doe</span>
                <span class="text-black-50">john_doe12@bbb.com</span>
                <span>United States</span>
            </div>
        </div>
        <div class="col-md-5 border-right"></div>
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right">Edit your profile</h6>
                </div>

                <form th:action="@{/recruiter-profile/addNew}" th:object="${profile}" method="post">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            <input placeholder="First Name" name="first_name" th:field="*{first_name}" type="text" class="form-control"  />
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Last Name</label>
                            <input placeholder="Last Name" name="last_name" th:field="*{last_name}" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Headline</label>
                            <!--<input placeholder="Last Name" name="last_name" th:field="*{last_name}" type="text" class="form-control" />-->
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Company</label>
                            <input placeholder="Company" name="company" th:field="*{company}" type="text" class="form-control"  />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Country</label>
                            <input placeholder="Country" name="country" th:field="*{country}" type="text" class="form-control"  />
                        </div>
                        <div class="col-md-6">
                            <label class="labels">State/Region</label>
                            <input placeholder="State" name="state" th:field="*{state}" type="text" class="form-control"  />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">City</label>
                            <input placeholder="City" name="city" th:field="*{city}" type="text" class="form-control"  />
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                    </div>
                </form>
            </div>
    </div>
</div>

</body>
</html>