<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}" />
    <meta charset="ISO-8859-1">
    <title>Profile Setup</title>
</head>

<body class="background ">
<div class="container mt-5">
<form th:action="@{/recruiter-profile/addNew}" th:object="${profile}" method="post">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png">
                            </div>
                            <h5 class="user-name"  th:text="${profile.first_name+' '+ profile.last_name}">Shahab Hamid</h5>
                            <h6 class="user-email" th:text="${profile.user_id.email}">shahabhamid23@gmail.com</h6>
                        </div>
                        <div class="about">
                            <h5 th:text="${profile.user_id.user_type_id.user_type_name}">About</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input placeholder="First Name" id="firstName" th:field="*{first_name}"  name="first_name"  type="text" class="form-control"  />
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input placeholder="Last Name" id="lastName" name="last_name" th:field="*{last_name}" type="text" class="form-control"  />
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="company">Company</label>
                                <input placeholder="Company" id="company" name="company" th:field="*{company}" type="text" class="form-control"  />
                            </div>
                        </div>

                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mt-3 mb-2 text-primary">Address</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Country</label>
                                <input placeholder="Country" name="country" th:field="*{country}" type="text" class="form-control"  />
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>State</label>
                                <input placeholder="State" name="state" type="text" th:field="*{state}" class="form-control"  />
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>City</label>
                                <input placeholder="City" name="city" th:field="*{city}" type="text" class="form-control"  />
                            </div>
                        </div><div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Add  Picture</label>
                            <input type="file" name="profile_photo" th:field="*{profile_photo}" accept="image/png,image/jpg, image/jpeg" class="form-control" required>
                        </div>
                    </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" id="submit2" name="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</html>