<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
<meta charset="ISO-8859-1">
<title>Student List</title>
</head>
<body>

   <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
     <div style="color:#FFFFFF" class="nav-item active">
	<h5>Welcome,  <span th:text="${username}">Welcome guest!</span></h5>
	</div>
  </div>
</nav>
<br>
<br>
<br>

<div role="main" class="container">

  <div class="starter-template">
<H2>List of Students </H2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New</button>

<table class="table table-stripped">
<thead>
<tr>
<td>Id</td>
<td>Name</td>
<td>Department</td>
<td>Updated By</td>
<td>Updated On</td>
<td>Edit</td>
<td>Delete</td>
</tr>
</thead>

<tr th:each="student:${users}">
<td th:text="${student.user_id}">Id</td>
<td th:text="${student.user_type_id}">Name</td>
<td th:text="${student.email}">Department</td>
<td th:text="${student.date_of_birth}">Updated By</td>
<td><a th:href="@{/students/getOne/(Id=${student.user_id})}"  class="btn btn-warning">Edit</a></td>
<td><a th:href="@{/students/delete/(Id=${student.user_id})}"   class="btn btn-danger" id="deleteButton">Delete</a></td>
</tr>
</table>

  </div>

</div><!-- /.container -->



<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <form th:action="@{/users/addNew}" th:object="${user_type_id}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="recipient-name" name="userId">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">User Type ID:</label>
                        <input type="text" class="form-control" id="user_type_id" th:value="*{user_type_id}" th:field="*{user_type_id}" name="user_type_id">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="recipient-name" name="email">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="recipient-name" name="password">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Date of Birth:</label>
                        <input type="text" class="form-control" id="recipient-name" name="DateOfBirth">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Gender:</label>
                        <input type="text" class="form-control" id="recipient-name" name="gender">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Is Active:</label>
                        <input type="text" class="form-control" id="recipient-name" name="isActive">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Contact Number:</label>
                        <input type="text" class="form-control" id="recipient-name" name="contactNumber">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>





</body>
</html>